<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeLg="8" offsetLg="2" sizeSm="12" sizeXs="12">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <ion-item >
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="email" email="true"></ion-input>
            
          </ion-item>
       
          <ion-button block color="primary" type="submit" [disabled]="userForm.invalid">
            SEND LINK
          </ion-button>
         
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
