<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Complete your registration</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="close()">
      <ion-icon color="light"  slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="11">
        <form [formGroup]="vehicleRegistrationForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Firstname <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Lastname <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="surname" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mobile No <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="mobile" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Alternate Mobile <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="alternateMobile" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Origin <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="origin" type="text"></ion-input>
          </ion-item>

          <ion-list>
            <ion-radio-group value="nogst" (ionChange)="gstSelectEvent($event)">
              <ion-item>
                <ion-label>Yes. I have GST Number</ion-label>
                <ion-radio slot="end" value="yesgst"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>No. I Don't Have GST Number</ion-label>
                <ion-radio slot="end" value="nogst"></ion-radio>
              </ion-item>
         
            </ion-radio-group>
          </ion-list>
          <ion-item *ngIf="isGstAvailable">
            <ion-label position="floating">GST No <ion-text color="danger">*</ion-text></ion-label>
            <ion-input (ionChange)="gstHandleEvent($event)" formControlName="gstNo" type="text"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Destination <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="destination" type="text"></ion-input>
          </ion-item>
         
          <ion-item>
            <ion-label position="floating">Address <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="apartmentAddress" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Office Address <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="officeAddress" type="text"></ion-input>
          </ion-item>
          <ion-list>
            <ion-list-header>
              <ion-label>Select Vehicles You have</ion-label>
            </ion-list-header>
            <ion-item  >
              <ion-label>Name</ion-label>
              <ion-select (ionChange)="onChange($event)"  multiple="true" placeholder="Select Vehicles">
                <ion-select-option *ngFor="let vehicle of vehicleData | async" [value]="vehicle.payload">{{vehicle.model}} {{vehicle.payload}}KG</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-text color="primary">
            <h1>Driving License</h1>
            <input type="file" name="file" (change)="uploadDrivingLicense($event)" id="">
          </ion-text>

          <ion-text color="primary">
            <h1>RC Book</h1>
            <input type="file" name="file" (change)="uploadRc($event)" id="">
          </ion-text>
          <ion-text color="primary">
            <h1>Insuarance Copy</h1>
            <input type="file" name="file" (change)="uploadInsuarance($event)" id="">
          </ion-text>

          <ion-text color="primary">
            <h1>Driver Photo</h1>
            <input type="file" name="file" (change)="uploadDriverImage($event)" id="">
          </ion-text>

          <ion-text color="primary">
            <h1>Vehicle Photo</h1>
            <input type="file" name="file" (change)="uploadVehicleImage($event)" id="">
          </ion-text>

          

          <ion-button block color="primary" type="submit" [disabled]="vehicleRegistrationForm.invalid">
            Register
          </ion-button>
        </form>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
