<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    
    <ion-title>Dashboard</ion-title>
    <ion-button color="light" fill="clear" slot="end" (click)="openProfilePage()">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="8" offsetLg="2" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-segment value="enq" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="enq">
            <ion-label>Enquiry</ion-label>
          </ion-segment-button>
          <ion-segment-button value="senq">
            <ion-label>Quotations</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cenq">
            <ion-label>Ongoing</ion-label>
          </ion-segment-button>
          <ion-segment-button value="completed">
            <ion-label>Completed</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>


      <ion-col sizeLg="8" offsetLg="2" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list *ngIf="isEnquiriesSegment">
          <ion-list-header>
            <ion-label>All Available Enquiris</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let order of orders | async"  detail (click)="onOpenDetailPage(order.orderId, false)">
            <ion-label>
              <h4>Pick up:{{order.sender?.FlatNo | uppercase}} {{order.sender?.Address | uppercase}} {{order.sender?.City | uppercase}} </h4>
              <h5>Drop:{{order.receiver?.FlatNo | uppercase}}{{order.receiver?.Address | uppercase}} {{order.receiver?.City | uppercase}}</h5>
              <h5>Dispatch time: {{order?.date | date}} / {{order?.time}} </h5>
            </ion-label>
          </ion-item>
          
        </ion-list>
        <ion-list *ngIf="isSubmittedSegment">
          

          <ion-item *ngFor="let order of orders |async" detail >
            <ion-label>
              <h4 >Pick up:{{order.sender?.FlatNo | uppercase}} {{order.sender?.Address | uppercase}} {{order.sender?.City | uppercase}} </h4>
              <h5>Drop: {{order.receiver?.FlatNo | uppercase}} {{order.receiver?.Address | uppercase}} {{order.receiver?.City | uppercase}}</h5>
              <h5>Dispatch time: {{order?.date | date}} / {{order?.time}} </h5>
            </ion-label>
          </ion-item>

  
        </ion-list>

        <ion-list *ngIf="isApprovedSegment">
          

          <ion-item *ngFor="let order of orders |async" (click)="onOpenDetailPage(order.orderId, true)" detail>
            <ion-label>
              <h4>Pick up:{{order.sender?.FlatNo | uppercase}} {{order.sender?.Address | uppercase}} {{order.sender?.City | uppercase}} </h4>
              <h5>Drop:{{order.receiver?.FlatNo | uppercase}} {{order.receiver?.Address | uppercase}} {{order.receiver?.City | uppercase}}</h5>
              <h5>Dispatch time: {{order?.date | date}} / {{order?.time}} </h5>
            </ion-label>
          </ion-item>

  
        </ion-list>

        <ion-list *ngIf="isCompletedSegment">
          

          <ion-item *ngFor="let order of orders |async" (click)="onOpenDetailPage(order.orderId, true)" detail>
            <ion-label>
              <h4>Pick up: {{order.sender?.FlatNo | uppercase}} {{order.sender?.Address | uppercase}} {{order.sender?.City | uppercase}} </h4>
              <h5>Drop:{{order.receiver?.FlatNo | uppercase}} {{order.receiver?.Address | uppercase}} {{order.receiver?.City | uppercase}}</h5>
              <h5>Dispatch time: {{order?.date | date}} / {{order?.time}} </h5>
            </ion-label>
          </ion-item>

  
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
