<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="8" offsetLg="2" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-segment value="enq" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="enq">
            <ion-label>Enquiries</ion-label>
          </ion-segment-button>
          <ion-segment-button value="cenq">
            <ion-label>Approved Enquiries</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col sizeLg="8" offsetLg="2" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list *ngIf="!isCompletedSegment">
          <ion-list-header>
            <ion-label>All Available Enquiris</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let order of orders | async" (click)="onOpenDetailPage(order.orderId, false)" detail>
            <ion-label>
              <h4>Pick up: {{order.sender?.City | uppercase}} </h4>
              <h5>Drop: {{order.receiver?.City | uppercase}}</h5>
              <h5>Dispatch time: {{order?.date | date}} / {{order?.time}} </h5>
            </ion-label>
          </ion-item>
          
        </ion-list>

        <ion-list *ngIf="isCompletedSegment">
          <ion-list-header>
            <ion-label>All Pending Enquiris</ion-label>
          </ion-list-header>

          <ion-item *ngFor="let order of orders |async" (click)="onOpenDetailPage(order.orderId, true)" detail>
            <ion-label>
              <h4>Pick up: {{order.sender?.City | uppercase}} </h4>
              <h5>Drop: {{order.receiver?.City | uppercase}}</h5>
              <h5>Dispatch time: {{order?.date | date}} / {{order?.time}} </h5>
            </ion-label>
          </ion-item>

  
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
