<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agent Registration</ion-title>
    <ion-button slot="end" fill="clear" color="light" (click)="close()">
      <ion-icon color="light"  slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="agentRegistrationForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="confirmpassword" type="text"></ion-input>
        </ion-item>
        <p *ngIf="agentRegistrationForm.errors?.['notMatch'] ">Password do not match. </p>
        <ion-item>
          <ion-label position="floating">Firstname <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Lastname <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="surname" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile No <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="mobile" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Alternate Mobile <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="alternateMobile" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Origin <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="origin" type="text"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">Destination <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="destination" type="text"></ion-input>
        </ion-item> -->
        <table class="table table-bordered" formArrayName="destinations">
          <tr>
            <th colspan="6">Add Destination:</th>
            <th width="150px"><ion-button (click)="addQuantity()">
              <ion-icon fill="clear" slot="icon-only" name="add"></ion-icon>
            </ion-button></th>
          </tr>
          <tr *ngFor="let quantity of fields.controls; let i=index" [formGroupName]="i">
            <td>
              <ion-item>
                <ion-label>Destination:- </ion-label>
                <ion-input type="text" formControlName="destinations" class="form-control"></ion-input>
              </ion-item>
               
            </td>
           
            <td>
                <ion-button (click)="removeQuantity(i)" color="danger">Remove</ion-button>
            </td>
          </tr>
        </table>
        <!-- <ion-item>
          <ion-label position="floating">Flat no <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="flatNo" type="text"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="floating">Aadhaar Number <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="adhar" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pan Number <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="pan" type="text"></ion-input>
        </ion-item>
      

        <ion-text color="primary">
          <h1>UPLOAD AADHAAR CARD</h1>
          <input type="file" name="file" (change)="uploadAdhar($event)" id="">
        </ion-text>

        <ion-text color="primary">
          <h1>UPLOAD PAN CARD</h1>
          <input type="file" name="file" (change)="uploadPan($event)" id="">
        </ion-text>
       
        <ion-button block color="primary" type="submit" [disabled]="agentRegistrationForm.invalid">
          Register
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
