<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Company Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="companyRegistrationForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Company Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="CompanyName" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">GST Number <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="gst" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Firstname <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Lastname <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="surname" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mobile No <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="mobile" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Alternate Mobile <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="alternateMobile" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Origin <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="origin" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destination <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="destination" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Flat no <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="flatNo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="apartmentAddress" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Office Address <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="officeAddress" type="text"></ion-input>
        </ion-item>

        <ion-text color="primary">
          <h1>Pan file upload add it here varsha</h1>
        </ion-text>
       
        <ion-button block color="primary" type="submit" [disabled]="companyRegistrationForm.invalid">
          Register
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
